<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>

  <div class="login-form">
    <form action="{{ url_for('login') }}" method="POST">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="username" name="username" placeholder="username" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="password" name="pass" placeholder="Password" autocomplete="new-password">
        </div>
        <a href="{{ url_for('fyp') }}" class="link">Forgot Your Password?</a>
      </div>
      <div class="action">
        <a href="{{ url_for('register') }}" class="abtn"><button type="submit">Register</button></a>
        <button class="btn" type="submit">Sign in</button>
      </div>
    </form>
  </div>

</body>

</html>
<!-- <a href="{{ url_for('register') }}" class="action-reg"><button type="submit">Register</button></a> -->